div(id="form-main_container")
    div(class="form-block")
        div(class="form-block_head")
            p(class="form-head_txt") get in touch
        div(class="form-block_content")
            div(class="form-block_info")
                div(class="form_info")
                    p(class="form-txt") 23 Mulholland Drive.Suite 721. Los Angeles 10010 100 S. Main Street. Los Angeles 90012
                div(class="form_info")
                    p(class="form-txt") +1-670-567-5590
                div(class="form_info")
                    p(class="form-txt") hello@clemocreative.com
                div(class="form-icons")
                    div(class="form-icon_border")
                        i(class="fab fa-facebook-f")
                    div(class="form-icon_border")
                        i(class="fab fa-twitter")
                    div(class="form-icon_border")
                        i(class="fab fa-google-plus-g")
                    div(class="form-icon_border")
                        i(class="fab fa-glide-g")
                    div(class="form-icon_border")
                        i(class="fab fa-instagram")
            div(class="form-block_info")
                form(action="#" method="post")
                    input(type="text" placeholder="your name" class="form-input")
                    input(type="password" placeholder="password" class="form-input")
                    input(type="email" placeholder="email" class="form-input")
                    input(type="submit" class="form-submit")
            