div(id="header")
    div(class="block-header")
        h3 we are clemo.
        div(class="line-header")
        p(class="header-p") professionals in the creative industries
        a(href="#")
            button(class="header-btn") get in touch