body
    div(id="slider")
        div(class="slider-content")
            div(class='slider_name')
                p(class='text_slider') clients say’s
            div(class='Frank_Sims')
                p(class='Name') frank sims
                div(class='line2')    
                p(class='Proffesion') photographer 
            div(class='Main_cont') 
                P(class='Main_text')  Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.      
            div(class='cont_flex')   
                div(class='block') 
                div(class='block')  
                div(class='block')  
                div(class='block')         
        div(class="slider-content")
            div(class='slider_name')
                p(class='text_slider') clients say’s
            div(class='Frank_Sims')
                p(class='Name') frank sims
                div(class='line2')    
                p(class='Proffesion') photographer 
            div(class='Main_cont') 
                P(class='Main_text')  Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.      
            div(class='cont_flex')   
                div(class='block') 
                div(class='block')  
                div(class='block')  
                div(class='block') 
script.  
    $('#slider').slick({
        variableWith: true,
        arrow: false,
        dots: true
    }) 
