body
    div(class='wrapper')
        div(class='content_Name') 
            p(class='text_Menu') what we do?  
        div(class="content_Main1")
            div(class='picture')   
            div(class='content_Kitchen') 
                div(class='2Words')
                    p(class='kitchen') creative
                    p(class='kitchen2') kitchen
                div(class='line')    
                p(class='sometext') Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.<br/> <br/> <br/>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.    
                <p><button class="button">learn more</button></p>
        div(class='content_Main1')
            div(class='picture2') 
            div(class='content_Kitchen') 
                div(class='2Words')
                    p(class='kitchen') art
                    p(class='kitchen2') installation 
                div(class='line')  
                p(class='sometext') Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.<br/> <br/> <br/>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.    
                <p><button class="button">learn more</button></p>  
        div(class='content_Main1')
            div(class='picture') 
            div(class='content_Kitchen') 
                div(class='2Words')
                    p(class='kitchen') print
                    p(class='kitchen2') design         
                div(class='line')  
                p(class='sometext') Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.<br/> <br/> <br/>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.  
                <p><button class="button">learn more</button></p>      
        div(class='content_Name') 
            p(class='text_Menu') our best work
        div(class='content_flex')
            div(class='column')
                div(class='div')  
                div(class='div2') 
            div(class='column')
                div(class='div2')
                div(class='div')               
            div(class='column')
                div(class='div')  
                div(class='div2')
        <p><button class="button2">learn more</button></p>    