div(id="slider")
    div(class="carusel")
        div(class="slider-head_text")
            h2 best team
        div(class="slider-content")
            div(class="block-circle")
                div(class="circle")
                h3 paul hall
                div(class="line")
                p art director
            div(class="block-circle")
                div(class="circle")
                h3 joshua spencer
                div(class="line")
                p founder
            div(class="block-circle")
                div(class="circle")
                h3 diane lewis
                div(class="line")
                p artist,designer
script.
    $('.slider-content').slick({
        variableWidth: true,
        arrow: false,
        dots: true
    })