#slider {
    width: 1400px;
    height: 708px;
    background-color: white;
}

.slider-content { 
width: 1152px;
height:581px;
padding-left: 124px;
padding-top: 85px;
padding-bottom: 98px;
}

.slider_name {
    width: 351px;
    height: 57px;
    padding-left: 420px;  
}

.text_slider {
    font-size: 60px;
    font-weight: 400;
    line-height: 48px;
    color: #000000;
}
.Frank_Sims {
    width: 223px;
    height: 87px;
    padding-left: 282px;
}
.Name {
    font-size: 40px;
    font-weight: 700;
    line-height: 42px;
    padding-top: 74px;
}
.line2 { 
    border-bottom: 2px solid black;
    width: 55px;
    padding-top: 19px;
    margin-left: 165px;
}
.Proffesion {
    padding-top: 19px;
    padding-left: 109px;
}
.Main_cont {
    width: 474px;
    height: 126px;
    padding-left: 589px;
}
.Main_text {
    font-size: 18px;
    font-weight: 300;
    line-height: 27px;
    color: #656565;
}
.cont_flex {
    width: 1152px;
    height: 143px;
    display: flex;
    justify-content: space-between;
    padding-top: 78px;
}
.block {
    width: 266px;
    height: 140px;
    background-color: #e6e6e6;
}