* {
    margin: 0;
    padding: 0; 
   
   }
   body {
       font-family: 'Montserrat', sans-serif;
   }
   .wrapper {
       width: 1400px;
       background-color: white;
   }
   .content_Name {
      width: 414px;
      height: 46px;
      padding-left: 519px;
      padding-top: 87px;
   }
   .text_Menu {
       font-size: 60px;
       line-height: 48px;
       font-weight: 400;
       font-style: Regular;
   }
   .content_Main1 {
       padding-left: 126px;
       height: 560px;
       width: 1132px;
       padding-top: 100px;
       display: flex;
       justify-content: space-between;
   }
   .picture {
       background-color: #e5e5e5;
       width: 560px;
       height: 560px;
   }
   .content_Kitchen {
       width:474px;
       height: 560px;
   }
   .kitchen {
       font-weight: 300;
       font-size: 30px;
       font-weight: 300;
   }
   .2Words {
       width: 184px;
       height: 71px;
       line-height: 48px;
   }
   .kitchen2 {
       font-size: 48px;
       font-weight: 700;
   }
   .line {
       border-bottom: 2px solid black;
       width: 55px;
       padding-top: 29px;
   }
   .sometext {
       font-weight: 300;
       line-height: 27px;
       font-size: 18px;
       padding-top: 28px;
   }
   .button {
       width: 170px;
       height: 50px;
       border-radius: 25px;
       border: 1px solid #d8d8d8;
       background-color: #ffe1bd;
       margin-top: 49px;
       font-size: 18px;
   }
   .picture2:nth-of-type(2n+1) {
       background-color: #e5e5e5;
       width: 560px;
       height: 560px;
       order: 1;
   }
   .content_flex {
       width: 1152px;
       height: 984px;
       padding-top: 100px;
       padding-left: 124px;
       display: flex;
       justify-content: space-between;
   }
   .column {
       height: 984px;
       width: 368px;
       display: flex;
       justify-content: space-around;
       flex-direction: column;
   }
   .div{
       background-color: #e5e5e5;
       width: 364px;
       height: 364px;
   }
   .div2 {
       width: 364px;
       background-color: #e5e5e5;
       height: 590px;
   }
   .button2 {
       background-color: #000000;
       border-radius: 25px;
       height: 50px;
       width: 170px;
       margin-left: 615px;
       margin-top: 50px;
       color: #ffffff;
       font-size: 18px;
       line-height: 24px;
   }