* {
	margin: 0;
	font-family: 'Montserrat', sans-serif;
}

.wrapper {
				width: 1400px;
				height: auto;	
				margin: 0 auto;
				display: flex;
				flex-wrap: wrap;
				justify-content:center;
				align-content: space-between;
			}
			
			.BlogName {
				width: 80%;
				height: 57px;
				font-size: 60px;
				font-weight: 400;
				line-height: 48px;
				// text-align:center;
				margin: 0 auto;
				display: flex;
				justify-content: center;
			}

			.linkBlock {
				width: 447px;	
				height: 18px;
				margin: 0 auto;
				font-size: 18px;
				font-weight: 300;
				line-height: 24px;
				display: flex;
				justify-content: space-between;
			}

			.block:nth-of-type(2n-1) > .block_img {
				order:0;
			}
			
			.block:nth-of-type(2n) > .block_img {
				order:1;
			}
			
			.block {
				width:1148px;
				height:560px;
				display:flex;
				flex-wrap:wrap;
				justify-content: space-between;
				margin-top: 100px;
			}
			.block_img {
				background-color: #e5e5e5;
				width: 560px;
				height: 560px;
				display: flex;
				justify-content: center;
				align-items: center;
				font-size: 14px;
			}

			.transition_button {
				width: 80%;
				display: flex;
				justify-content: center;
			}

			.hide {display: none;}

			@import "block_text/_block_text.scss";
			@import "_button.scss";

			