<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	title Document
	script(src="https://use.fontawesome.com/b08f2557ab.js")
	link(href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet")
	link(rel='stylesheet' href='style/main.css')
	link(rel='stylesheet' href='style/header/header.css')
	link(rel='stylesheet' href='style/header/header_logo/header_logo.css')
	link(rel='stylesheet' href='style/header/header_menu.css')
	link(rel='stylesheet' href='style/about/about.css')
	link(rel='stylesheet' href='style/about/about_block_elements/about_block_elements.css')
	link(rel='stylesheet' href='style/about/about_block_textElements/about_block_textElements.css')
body
	div(class='wrapper')
		div(class='header_Line')
		div(class='header-block')
			div(class='header_logo')
				img(src='/img/logo.png')
				p +
				div
					p
						strong COMPANY NAME
					p Tag Line Goes Here
			div(class='header_menu')
				i(class="fa fa-bars" aria-hidden="true")
			div(class='header_welcome')
				span HELLO
				<br>WE ARE ONLINE CLINIC
		div(class='about')
			div(class='about_block')
				p
					strong ABOUT US
				div(class='about_line')
				p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commo-do consequat.
			div(class='about_block_elements')
				div
					img(src='/img/shape-9.png')
				div(class='about_block_elements__tonometer')
					img(src='/img/shape-7.png')
				div
					img(src='/img/shape-8.png')
			div(class='about_block_textElements')
				p Lorem ipsum dolor sit amet
				p Lorem ipsum dolor sit amet
				p Lorem ipsum dolor sit amet
	