//
	для того чтобы шаблон uniq.jade построил страницу товара cap1.jade
	нам нужно в блоке block variables переопределить значение 
	переменной current на назв. нашего товара в асс.массиве items
	(в данном случае это current=cap2)

	также в наследованном header.jade переопределяем название товара
	в шапке, для этого в 
	block headerName
		указываем название нашего товара
		NY Yankees, Lakers, Los Angeles caps

extends uniq.jade
block variables
	- var current='cap2'
block headerName
	h1 #{items[current].description}

//Добавляем block styles (в файле template.jade)
//еще одну ссылку стилей для страницы товара cap1.jade
//1.41.30-1.43.00 Lesson43
append styles
	link(rel="stylesheet", href="style/2.css")